@import url("https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Open+Sans:wght@300&display=swap");
.buttonAndH2Wrapper {
  display: flex;
  align-items: center;
}

.buttonAndH2Wrapper > div {
  margin-right: 10px;
}

.h2Wrapper {
  font-family: "Mohave", sans-serif;
  font-family: "Open Sans", sans-serif;
  color: rgba(77, 178, 231, 255);
}

.Button {
  background-color: rgb(24, 167, 220); /* Green */
  border: none;
  color: rgba(235, 235, 235, 0.946);
  padding: 3px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 8px;
  border-radius: 200px;
}

.checkboxNameAlligner {
  display: flex;
  align-items: center;
}

.checkboxNameAllignerWrapper {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.checkboxNameAllignerWrapper > div {
  margin-left: 10px;
}

.checkboxNameAndInstallations {
  display: flex;
}

.checkboxNameAndInstallations h4 {
  color: rgba(229, 232, 235, 255);
  font-family: "Mohave", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.TableCellColor {
  color: rgba(229, 232, 235, 255);
}
.sortflex {
  display: flex;
}

.sortflex h3 {
  display: flex;
}
.container {
  display: flex;
  align-items: center;
}

.icons-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 2.5px;
}

.iconsTag-wrapper {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
}

.search-bar1 {
  width: 11%;
  color: white;
  border-radius: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: rgb(243, 242, 240);
  height: 25px;

  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 40px;
}

form {
  position: relative;
}

img {
  position: abosolute;
  top: 10px;
  right: 20px;
}

.mySearchIconImage {
  position: absolute;
  top: 10px;
  left: 10px;
}

.props {
  display: flex;
  margin-left: 10px;
}

.props1 {
  display: flex;
  margin-left: 44px;
}
